@use "../../scss";

// in-lining the css variable on the actual element, not pseudo-element
.c-separator {
	--separator-content: var(--c-separator-content, "â—");
}

.c-separator::after {
	@include scss.component-properties("separator");

	content: var(--separator-content);
}
