@use "../../scss";

.c-paragraph {
	@include scss.component-properties("paragraph");
}

.c-paragraph[data-style-truncation-lines="true"] {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-moz-box-oriented: vertical;
	/* opera */
	text-overflow: -o-ellipsis-lastline;
}
