@use "../../scss";

.c-paragraph {
	--paragraph-truncation: var(--c-paragraph--webkit-line-clamp, "none");

	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-moz-box-oriented: vertical;
	text-overflow: ellipsis;

	@include scss.component-properties("paragraph");

	-webkit-line-clamp: var(--paragraph-truncation);
}
