@use "../../scss.scss" with (
	$tokens: (
		default: (
			components: (
				stack: (
					gap: 1rem,
				),
				stack-divider-vertical: (
					border: none,
					border-bottom-width: 2px,
					border-bottom-style: solid,
					border-bottom-color: #712d2d,
					height: 1px,
					width: 100%,
				),
				stack-divider-horizontal: (
					border: none,
					border-left-width: 2px,
					border-left-style: solid,
					border-left-color: #712d2d,
					height: auto,
					width: 1px,
				),
			),
		),
	)
);
