@use "../../scss.scss" with (
	$breakpoints: (
		default: "min-width: 0",
		desktop: "min-width: 48rem",
	),
	$tokens: (
		default: (
			components: (
				stack: (
					gap: 1rem,
				),
				stack-divider-vertical: (
					border: none,
					border-bottom-width: 2px,
					border-bottom-style: solid,
					border-bottom-color: #712d2d,
					height: 1px,
					width: 100%,
				),
				stack-divider-horizontal: (
					border: none,
					border-left-width: 2px,
					border-left-style: solid,
					border-left-color: #712d2d,
					height: auto,
					width: 1px,
				),
				carousel-image-counter: (
					color: #191919,
				),
				carousel-fullscreen-image-counter: (
					color: white,
				),
				carousel-additional-controls: (
					display: none,
				),
				video: (
					background-color: #000000,
				),
				video-backdrop: (
					background-color: #000000,
				),
			),
		),
		desktop: (
			components: (
				carousel-additional-controls: (
					display: block,
				),
			),
		),
	)
);
