@use "../../scss.scss" with (
	$breakpoints: (
		default: "min-width: 0",
		desktop: "min-width: 48rem",
	),
	$tokens: (
		desktop: (
			components: (
				carousel: (
					--slides: 4,
				),
			),
		),
		default: (
			components: (
				carousel: (
					--slides: 1,
				),
				stack: (
					gap: 1rem,
				),
				stack-divider-vertical: (
					border: none,
					border-bottom-width: 1px,
					border-bottom-style: solid,
					border-bottom-color: #000000,
					height: 1px,
					width: 100%,
				),
				stack-divider-horizontal: (
					border: none,
					border-left-width: 1px,
					border-left-style: solid,
					border-left-color: #000000,
					height: auto,
					width: 1px,
				),
				video-backdrop: (
					background-color: #000000,
				),
			),
		),
	)
);
