@use "../scss.scss" with (
	$tokens: (
		default: (
			components: (
				stack: (
					gap: 1rem,
				),
				stack-divider-vertical: (
					border: none,
					border-bottom-width: 1px,
					border-bottom-style: solid,
					border-bottom-color: #000000,
					height: 1px,
					width: 100%,
				),
				stack-divider-horizontal: (
					border: none,
					border-left-width: 1px,
					border-left-style: solid,
					border-left-color: #000000,
					height: auto,
					width: 1px,
				),
				carousel-buttons: (
					cursor: pointer,
					font-size: 0,
					line-height: 0,
					position: absolute,
					top: 50%,
					display: block,
					width: 20px,
					height: 20px,
					padding: 0,
					transform: translate(0, -50%),
					color: transparent,
					border: none,
					background: transparent,
				),
				carousel-buttons-before: (
					font-family: '"Arial", serif',
					-webkit-font-smoothing: antialiased,
					-moz-osx-font-smoothing: grayscale,
				),
				carousel-buttons-hover: (
					color: transparent,
					background: transparent,
				),
				carousel-buttons-focus: (
					color: transparent,
					background: transparent,
				),
				carousel-buttons-hover-before: (
					opacity: 1,
				),
				carousel-buttons-focus-before: (
					opacity: 1,
				),
				carousel-buttons-disabled-before: (
					opacity: 0.25,
				),
				carousel-button-previous: (
					left: -25px,
				),
				carousel-button-previous-before: (
					font-size: 20px,
					line-height: 1,
					opacity: 0.75,
					color: black,
					content: "\2190",
				),
				carousel-button-rtl-previous: (
					left: auto,
				),
				carousel-button-rtl-previous-before: (
					content: "\2192",
				),
				carousel-button-next: (
					right: -25px,
				),
				carousel-button-next-before: (
					font-size: 20px,
					line-height: 1,
					opacity: 0.75,
					color: black,
					content: "\2192",
				),
				carousel-button-rtl-next: (
					right: auto,
				),
				carousel-button-rtl-next-before: (
					content: "\2190",
				),
				carousel-slider-dots: (
					text-align: center,
					width: 100%,
				),
				carousel-slider-dots-list: (
					position: relative,
					display: inline-block,
					width: 20px,
					height: 20px,
					margin: 0 5px,
					padding: 0,
				),
				carousel-slider-dots-list-buttons: (
					display: block,
					width: 20px,
					height: 20px,
					padding: 5px,
					cursor: pointer,
					color: transparent,
					border: 0,
					background: transparent,
				),
				carousel-slider-dots-list-buttons-before: (
					content: "\2022",
					width: 20px,
					height: 20px,
					font-family: '"Arial", serif',
					font-size: 20px,
					line-height: 20px,
					text-align: center,
					color: #000000,
					opacity: 0.25,
				),
				carousel-slider-dots-list-buttons-active-before: (
					color: #000000,
					opacity: 0.75,
				),
				carousel-slider-dots-list-buttons-focus-hover-before: (
					opacity: 1,
				),
			),
		),
	)
);
