@use "../../scss";

.c-image {
	color: rgb(255 0 0);
	font-style: italic;
	// don't want the image to grow larger than itself
	// without it, we couldn't use height and width for reserving space and srcset and sizes
	inline-size: max-content;
	// don't want the image to shrink smaller than its intrinsic size due to height and width set
	block-size: auto;

	@include scss.component-properties("image");
}
