@use '../../scss';

.c-stack {
	@include scss.component-properties('stack');
	display: flex;
	position: relative;
}

.c-stack > * {
	position: relative;
}


.c-stack[data-style-direction='vertical'] {
	flex-flow: column;
}

.c-stack[data-style-direction='horizontal'] {
	flex-direction: row;
}

.c-stack[data-style-direction='vertical'] > *:before {
	content:"";
	position:absolute;
	bottom:-0.5rem; /* Half the gap */
	left:0;
	height:1px;
	width:100%;
	background:#000;
}

.c-stack[data-style-direction='horizontal'] > *:before {
	content:"";
	position:absolute;
	top:0;
	right:-0.5rem; /* Half the gap */
	height:100%;
	width:1px;
	background:#000;
}

.c-stack[data-style-alignment='start'] {
	justify-content: flex-start;
}

.c-stack[data-style-alignment='center'] {
	justify-content: center;
}

.c-stack[data-style-alignment='end'] {
	justify-content: flex-end;
}

.c-stack[data-style-wrap='nowrap'] {
	flex-wrap: nowrap;
}

.c-stack[data-style-wrap='wrap'] {
	flex-wrap: wrap;
}

.c-stack[data-style-wrap='wrap-reverse'] {
	flex-wrap: wrap-reverse;
}

